 <%= javascript_include_tag "city_photos.js.coffee" %>

 <div id="entry-listing" class="group">
    <!-- <div id="main"> -->
   <% @city_photos.each do |city_photo| %>
     <article id="post-215" class="post-215 category-people category-photography category-pretty-girls entry box format-image">
       <div class="entry-content-cnt">
       <div class="entry-content">
         <a href="<%= city_photo.image.url%>"data-lightbox="fancybox[215]" class="thumb" ><%= image_tag city_photo.image.url ,:class=>"attachment-ci_listing_thumb"%></a>
        </div>
        </div>
         <div class="entry-desc">
        <h1><a><%= link_to city_photo.title,city_photo%></a></h1>
         <div class="entry-meta group">
         <strong><%= City.find(city_photo.city_id).city_name%></strong>&nbsp;
          <a class="comments-no" <%= link_to "",city_photo%><%= city_photo.city_comments.count %></a> &nbsp;
          <a data-post-id="215" class="heart-this loved" href="#" title="You love this."><span class="heart-no"><%= link_to (image_tag "like.png"),like_city_photo_city_photos_path(:id =>city_photo.id),:method => "post",:remote => true,:id => "like_city_photo"%>&nbsp;</span>
          </a>
          <a val= "<%=city_photo.id %>"><%= link_to Like.where(:likeable_type=>"CityPhoto",:likeable_id=>city_photo.id).sum(:count) ,like_count_city_photos_path(:id =>city_photo.id), :id=>"like_count",:method => "get",:remote=> true %>
          </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-style:italic;font-size:20px">c</span>
         </div>
          </div>
         <% if current_user2 == city_photo.user %>
         <td><%= link_to 'Edit', edit_city_photo_path(city_photo) %></td>
         <td><%= link_to 'Destroy', city_photo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
         <%end%>
         </article>
         <%end%>

         <div class="nav">
              <a id="nextpage" href="http://localhost:3000/city_photos?page=<%= @city_photos.next_page %>">Next Page</a>
         </div>

         </div><!-- #entry-listing -->

    <!-- </div> -->

    