<%= javascript_include_tag "users.js.coffee"%>

<div class="container">
  <div class="row" style="padding:24px">
    
      <%= form_for @user, html: {:class => "form-signin mg-btm"} do |f|  %>
      <h3 class="heading-desc">
   
    Please Select Your Country State and City</h3>

     <div class="field">
      Country:
            <%= f.collection_select :country_id, Country.order(:name), :id, :name,{:prompt => true}%><br />

              </div>
              <div class="left">
                <br />
                State:<%= f.grouped_collection_select :state_id, Country.order(:name), :states, :name, :id, :name, {:include_blank => 'Please Select'},:style=>"width:78%;"%><br />
              </div>
              <div align="left" style="display: block; margin-left: 7%;" class="left">
              <br/>

             City: <%= f.grouped_collection_select :city_id, State.order(:name),:cities, :name, :id, :city_name,{prompt: "City"}%><br />
             </div><br /><br />
    <div class="login-footer">
    <div class="row">

      <div class="col-xs-6 col-md-6 pull-right">
         <%= f.submit "update" ,:class=>"btn btn-large btn-danger pull-right"%>
      
      </div>
      </div>
    
    </div>
    <% end %>
    
  </div>
</div>
<%#@country.each do |country|%>
<%#= City.find_by_city_name(:city_name).city_name%>
<%#end%>

<style type="text/css">

.form-signin {
  max-width: 400px; 
  display:block;
  background-color: #f7f7f7;
  -moz-box-shadow: 0 0 3px 3px #888;
    -webkit-box-shadow: 0 0 3px 3px #888;
  box-shadow: 0 0 3px 3px #888;
  border-radius:2px;
}
.main{
  padding: 38px;
}
.social-box{
  margin: 0 auto;
  padding: 38px;
  border-bottom:1px #ccc solid;
}
.social-box a{
  font-weight:bold;
  font-size:18px;
  padding:8px;
}
.social-box a i{
  font-weight:bold;
  font-size:20px;
}
.heading-desc{
  font-size:20px;
  font-weight:bold;
  padding:38px 38px 0px 38px;
  
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: 20px;
  padding: 20px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: 10px;
  border-radius: 5px;
  
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-radius: 5px;
}
.login-footer{
  background:#f0f0f0;
  margin: 0 auto;
  border-top: 1px solid #dadada;
  padding:20px;
}
.login-footer .left-section a{
  font-weight:bold;
  color:#8a8a8a;
  line-height:9px;
}
.mg-btm{
  margin-bottom:20px;
}
</style>
<!-- <div>
    <select id="make" data-bind="options: makes, value: selectedMake, optionsText : 'name', optionsValue : 'id', optionsCaption : 'Select your make'"></select><br/>
    <select id="type" data-bind="options: carTypes, value: selectedType, optionsText : 'name', optionsValue : 'id', optionsCaption : 'Select your type'"></select><br/>
    <select id="model" data-bind="options: carModels, value:selectedModel, optionsText: 'name', optionsValue : 'id', optionsCaption:'Select your model'"></select>
</div> -->
<%#@country.each do |country|%>
<script type="text/javascript">
// var viewModel = function(){
//     var self = this;
//     self.makes = [
//         {id: user_country_id, name: '<%#= country.name%>'}
      
//     ];
 
//     self.types = [
//         {id: user_state_id, make:user_country_id, name:'<%#= State.find(@user.state_id).name%>'}
       
//     ];
 
//     self.models = [
//         {id:user_city_id, make:user_country_id,type: user_state_id, name: '<%#= City.find(@user.city_id).city_name%>'}
        
//     ];
 
//     self.selectedMake = ko.observable();
//     self.selectedType = ko.observable();
//     self.selectedModel = ko.observable();
 
//     self.carTypes = ko.computed(function(){
//         return ko.utils.arrayFilter(self.types, function(item){
//             return item.make === self.selectedMake();
//         });
//     });
    
//      self.carModels = ko.computed(function(){
//         return ko.utils.arrayFilter(self.models, function(item){
//             return item.make === self.selectedMake() && item.type === self.selectedType();
//         });
//     });

 
// };

// var model = new viewModel();


// ko.applyBindings(model);

// </script>
<%#end%>